.cartitems {
  margin: 100px 150px;
}
@media screen and (max-width: 768px) {
  .cartitems {
    margin: 0px;
  }
}
.cartitems hr {
  margin: 0px;
  height: 3px;
  width: 1160px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-format-main {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 16px;
  font-weight: 600;
}
.cartitems-format {
  font-size: 16px;
  font-weight: 700;
}
.carticon-product-icon {
  height: 65px;
}
.carticon-remove-icon {
  width: 20px;
  margin: 0px 16px;
  cursor: pointer;
}
.cartitems-quantity {
  width: 70px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px 0;
}
.cartitems-down hr {
  margin: 0px;
  height: 3px;
  width: 550px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  font-size: 20px;
}
.cartitems-total button:hover {
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s;
  transform: scale(5px);
}
.cartitems-promocode {
  flex: 1;
  font-size: 20px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #555;
}
.cartitems-promobox {
  width: 400px;
  margin-top: 15px;
  padding-left: 30px;
  height: 58px;
  background: #eaeaea;
}
.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  width: 200px;
  height: 55px;
}

.cartitems-promobox button {
  width: 170px;
  height: 58px;
  font-size: 20px;
  background: black;
  color: white;
}
