.loginsignup {
  width: auto;
  height: 100%;
  background-color: cadetblue;
  margin: 0px;
  /* background-image: url(D:\React\sadar-bazar-store\src\Components\Assets\mainview.png); */
  background-size: cover;
  padding-top: 50px;
}

.loginsignup-container {
  width: 550px;
  height: 450px;
  background-color: rgba(9, 9, 9, 0.5);
  margin: 60px 480px 200px 480px;
  padding: 40px 60px;
}
.loginsignup h1 {
  font-size: 30px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}
.loginsignup-fields input {
  height: 40px;
  width: 100%;
  padding-top: 20px 20px;
  font-size: 18px;
  color: black;
  outline: none;
  border: 2px solid rgb(217, 214, 214);
}
.loginsignup-container button {
  margin-top: 15px;
  border: 1px solid rgb(121, 117, 117);
  padding: 3px 20px;
  cursor: pointer;
  font-weight: 700;
}
.loginsignup-login {
  margin: 10px 0px;
  color: white;
}
.loginsignup-login span {
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.loginsignup-agree {
  color: white;
  display: flex;
  gap: 20px;
  font-size: 15px;
}
.loginsignup-agree p {
  padding-top: 15px;
}
