.specedition {
  display: flex;
  margin: 50px 70px 50px 70px;
  padding: 50px 70px;
  background-image: linear-gradient(
    to right,

    rgb(247, 159, 87),
    rgba(255, 0, 0, 0)
  );
}

@media screen and (max-width: 768px) {
  .specedition {
    margin: 0px;
    padding: 50px 20px;
    display: block;
    align-items: center;
  }
}

.specialedition h3 {
  font-size: 30px;
  font-weight: 700;
  color: solid black;
}
.specialedition h1 {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 800;
  color: solid black;
}
@media screen and (max-width: 768px) {
  .specialedition h1 {
    font-size: 50px;
  }
}
.specialedition p {
  width: 50%;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 300;
  color: solid black;
}
@media screen and (max-width: 768px) {
  .specialedition p {
    width: 100%;
    font-size: 20px;
  }
}

.shop-now {
  margin-top: 40px;
  font-size: 25px;
  cursor: pointer;
  padding: 10px 30px;
}
.shop-now:hover {
  background-color: black;
  color: white;
}
.specialedition-right {
  padding-right: 50px;
  display: block;
}
@media screen and (max-width: 768px) {
  .specialedition-right {
    margin: 10px;
    padding: 10px;
    justify-content: center;
  }
}

.specialedition-right img {
  height: 548px;
  width: 345px;
}
