* {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  width: 100%;
  padding: 0 32px 0 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
}
.table1 {
  height: auto;
  padding-top: 30px;
  list-style: none;
  display: flex;
  gap: 30px;
}
.table2 {
  height: auto;
  padding-top: 30px;
  justify-content: flex-end;
  list-style: none;
  display: flex;
  gap: 30px;
}
.logo {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
}
.product {
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
}
.login {
  padding-top: 8px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: bold;
}
