.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px opx;
  box-shadow: 0 1px 3px -2px black;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-logo p {
  color: black;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  color: grey;
  font-size: 25px;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.nav-menu hr {
  border: none;
  width: 90%;
  height: 5px;
  border-radius: 10px;
  background-color: black;
  margin: 0;
  opacity: 0.75;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-login-cart button {
  width: 150px;
  height: 55px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 70px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.nav-login-cart button:active {
  background: gainsboro;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  margin-top: -33px;
  margin-left: -55px;
  border-radius: 75px;
  font-size: 15px;
}
